# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# server config
server/config.js

# output
www/css
www/lib
www/js/*.js*

# sublime
*.sublime*
