<ion-view view-title="Status" ng-init="init()">
  <ion-content>
    <div class="list card" ng-if="!storage.user.measure">
      <a href="#/main/measure" class="item item-icon-left"><i class="icon ion-ios-calculator"></i>Adicione suas medidas</a>
    </div>
    <button class="button button-positive" ng-if="!!storage.user.measure" ng-click="sync()">
      Sync()
    </button>

    <button class="button button-block button-positive" ng-if="!!storage.user.measure" ng-click="newTraining()">
      Iniciar novo treino
    </button>
  </ion-content>
</ion-view>
