<ion-view view-title="{{measure.text}}" ng-init="init()">
  <ion-content class="padding">
    <form ng-submit="save()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" style="text-align: right;" ng-model="data.value">
          <span style="float: right; margin: 0 1em;">{{measure.unit}}</span>
        </label>
        <label class="item item-input">
          <input type="date" ng-model="data.when">
        </label>
      </div>
      <button type="submit" class="button button-block button-positive">Salvar</button>
    </form>
  </ion-content>
</ion-view>
