<ion-tabs hide-back-button="true" can-swipe-back="false" class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Progresso" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/main/dash">
    <ion-nav-view name="main-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Treinos" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/main/training">
    <ion-nav-view name="main-training"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Medidas" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/main/measure">
    <ion-nav-view name="main-measure"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Configuracoes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/settings">
    <ion-nav-view name="main-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
