<ion-view view-title="{{measure.text}}" ng-init="init()">
  <ion-content class="padding">
    <form ng-submit="save()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" style="text-align: right;" ng-model="data.value">
          <span style="float: right; margin: 0 1em;">{{measure.unit}}</span>
        </label>
        <label class="item item-input">
          <input type="date" ng-model="data.when">
        </label>
      </div>
      <button type="submit" class="button button-block button-positive">Salvar</button>
    </form>
    <ion-list class="list list-inset" ng-if="!!measures">
      <ion-item class="item item-divider">Historico</ion-item>
      <ion-item class="item item-icon-right" collection-repeat="record in measures">
        {{formatDate(record.when)}}
        <span class="item-note">{{record.value}} {{measure.unit}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
